/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}*/

*{
  box-sizing: border-box;
}


html, body, #root{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

header{
  border: solid thin black;
  height: 10%;
  background-color: #ff6000;
  display: flex;
  justify-content: space-around;
}

header > *{
  align-self: center;
}


footer{
  border: solid thin black;
  height: 5%;
  background-color: #837166;
}

section{
  height: 85%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

#mainContainer{
  height: 100%;
  width: 100%;
}

#filtersDiv{
  border: solid thin black;
  border-top: 0;
  border-bottom: 0;
  height: 100%;
  width: 15%;
  background-color: #837166;
}

 /* ---------layout en grid------------ 
#resultsDiv{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #c4aa9a;
  height: 100%;
  width: 85%;
}

.product{
  position: relative;
  top: 2%;
  width: 17%;
  height: 25%;
  background-color: #ff6000; 
}*/

/*-----------layout en lista ------------*/
#resultsDiv{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #c4aa9a;
  height: 100%;
  width: 85%;
  overflow-y: scroll;
}

.product{
  border: solid thin black;
  margin-top: 1%;
  margin-bottom: 4%;
  position: relative;
  top: 2%;
  width: 98%;
  height: 25%;
  background-color: #ff6000; 
}